.app{
        padding: 3rem;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background: #F3F3F3;
}
.container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem;
        align-items: center;
        justify-items: center;
}

.card{
        width: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-content: center; */
        align-items: center;
}

.card-title{
        margin-block-end: 0px;
        text-align: center;
}
